<a href="https://colab.research.google.com/github/CetanTsao/Python/blob/master/Copy_of_%E7%B7%B4%E7%BF%92%E4%B8%80%EF%BC%9A%E9%9B%86%E4%BF%9D%E6%88%B6%E8%82%A1%E6%AC%8A%E5%88%86%E6%95%A3%E8%A1%A8%E6%9F%A5%E8%A9%A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 練習一：集保戶股權分散表查詢

In [0]:
import pandas as pd

In [0]:
url = "https://smart.tdcc.com.tw/opendata/getOD.ashx?id=1-5"

In [0]:
df = pd.read_csv(url)

In [4]:
df.head()

       資料日期  證券代號  持股分級     人數         股數  占集保庫存數比例%
0  20200401  0050     1  44173   10834763       1.02
1  20200401  0050     2  96465  186791648      17.70
2  20200401  0050     3  10364   79902735       7.57
3  20200401  0050     4   2819   36075583       3.41
4  20200401  0050     5   1557   28426726       2.69

In [5]:
df.tail()

           資料日期    證券代號  持股分級  人數      股數  占集保庫存數比例%
47340  20200401  YY0079    13   0       0        0.0
47341  20200401  YY0079    14   0       0        0.0
47342  20200401  YY0079    15   0       0        0.0
47343  20200401  YY0079    16   0       0        0.0
47344  20200401  YY0079    17  81  331000      100.0